<%- include("../header") -%>

<div class="center-box">

    <div class="container p-5 my-5 bg-dark text-white">
        <h1>Admin Page, <span class="highlight">LeagueX Survey!</span></h1>
        <form action="/admin/survey" method="post">
            <button type="Submit" class="btn btn-primary">Create Survey</button> -->

            <!-- <label for="cityInput" class="form-label"> City Name:</label>
                <input type="text" class="form-control" name="cityName" id="cityInput" required> <br>
                <button type="Submit" class="btn btn-primary">Get weather info</button> -->
        </form>
    </div>
</div>

<%- include("../footer") -%>