body {
    background: linear-gradient(267deg, #e4f365d1, transparent);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    border-block-end: rgb(252, 203, 112) solid 1px;
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-align: center;
    padding: 5px;
}

.container {
    border-radius: 25px;
}

.highlight {
    color: rgb(252, 203, 112);
}